.rmt-card {
	max-width: 200px;
	height: 255px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 3px;
	color: var(--white);
	background-color: var(--black);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	animation-duration: 0.75s;
	animation-name: animate-glow;
	animation-timing-function: ease;
}

.rmt-card:hover {
	background-color: var(--blue);
}

.rmt-card__header {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0 5px 0;
}

.rmt-card__title {
	font-size: var(--font-size-medium);
	text-align: center;
}

.rmt-card__title--small {
	font-size: var(--font-size-small);
}

.rmt-card__img {
	width: 190px;
	height: 190px;
	border-radius: 1px;
}

@keyframes animate-glow {
	0% {
		opacity: 0;
		transform: scale(1, 1);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}
