.rmt-card {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 3px;
	color: var(--white);
	background-color: var(--black);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	animation-duration: 0.75s;
	animation-name: animate-glow;
	animation-timing-function: ease;
}

.rmt-card:hover {
	background-color: var(--blue);
}

.rmt-card__header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0 5px 0;
}

.rmt-card__title {
	font-size: var(--font-size-medium);
	text-align: center;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.rmt-card__title--small {
	font-size: var(--font-size-small);
}

.rmt-card__media {
	border-radius: 1px;
	padding-top: 100%;
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.rmt-card__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	border-radius: 1px;
}
.rmt-card__img::after {
	z-index: 2;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 100%
	);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 50%;
	content: '';
	border-radius: 3px;
}

@keyframes animate-glow {
	0% {
		opacity: 0;
		transform: scale(1, 1);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}
