.rmt-filters-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	background-color: var(--darker-white);
	border-radius: 3px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rmt-filters-form__search-input {
	width: 100%;
	background-color: var(--pure-white);
	color: var(--black);
	border-radius: 3px;
	padding: 15px;
	font-weight: 600;
	border: 2px solid var(--pure-white);
}

.rmt-filters-form__search-input:hover {
	border: 2px solid var(--black);
}

.rmt-filters-form__search-input:focus {
	outline-color: var(--black);
}

.rmt-filters-form__select-input {
	width: 100%;
	background-color: var(--pure-white);
	color: var(--black);
	border-radius: 3px;
	padding: 15px;
	appearance: auto;
	font-weight: 600;
	border: 2px solid var(--pure-white);
}

.rmt-filters-form__select-input:hover {
	width: 100%;
	background-color: var(--pure-white);
	color: var(--black);
	border-radius: 3px;
	padding: 15px;
	appearance: auto;
	font-weight: 600;
	border: 2px solid var(--black);
}

.rmt-filters-form__select-input:focus {
	outline-color: var(--black);
}

.rmt-filters-form__label {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: var(--lights-lategrey);
	pointer-events: none;
}

.rmt-filters-form__reset-button {
	background-color: var(--grey);
	color: var(--black);
	font-weight: 500;
}

.rmt-filters-form__reset-button:hover {
	background-color: var(--darker-grey);
}

.rmt-filters-form__submit-button {
	font-weight: 500;
}

.rmt-filters-form__submit-button:hover {
	background-color: #292929;
}

@media (min-width: 992px) {
	.rmt-filters-form {
		min-width: 300px;
	}
}
