.rmt-header {
	width: 100%;
	min-height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.rmt-header__logo-section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gutter);
}

.rmt-header__logo {
	width: 40px;
	height: 40px;
}

.rmt-header__container {
	width: 100%;
	max-width: 1380px;
	display: flex;
	justify-content: space-between;
	flex: 1;
	padding: 0 var(--gutter);
}

.rmt-header__title {
	visibility: hidden;
}

@media (min-width: 576px) {
	.rmt-header__title {
		visibility: visible;
	}
}
