.rmt-results-page {
	display: flex;
	justify-content: center;
}

.rmt-results-page__container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1380px;
}

.rmt-results-page__main {
	width: 100%;
}

.rmt-results-page__aside {
	padding: var(--spacing-16);
}

@media (min-width: 992px) {
	.rmt-results-page__container {
		flex-direction: row;
	}
}
